@model WitBird.Sex.WebV2.Models.CategoryModel
@{
    ViewBag.Title = Model.Category.Title + "，" + WitBird.Sex.WebV2.Cache.WebConfig.WebName;
    ViewBag.Keywords = Model.Category.Keywords;
    ViewBag.Description = Model.Category.Description;
    ViewBag.MainTitle = Model.Category.Title;
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
@section head
{
    <style>
        #@Model.Category.Id a, #@Model.Category.Id a:hover { background: url(/content/images/nav_a_h.png) repeat-x; width: 87px; height: 53px; color: #fff; }
    </style>
}
<div class="tj"></div>
<div class="pic-list mb7">
    <ul>
        @if (Model.Albums != null && Model.Albums.Count > 0)
        {
            foreach (var item in Model.Albums)
            {
                string url = "/show/" + item.Id + ".html";
            <li>
                @if (item.IsTop)
                {
                    <div class="recommend"></div>
                }
                <div class="picbox">
                    <img data-original="@Uitlity.WebHelper.GetImagePath(item.UrlThumbnailWidth235x350)"
                    alt="@item.Title" width="235" height="350" />
                    <div>
                        <b><a target="_blank" href="@url"></a></b>
                    </div>
                </div>
                <div class="name">
                    <a target="_blank" href="@url"
                    title="@item.Title">@item.Title</a>
                </div>
            </li>
            }
        }
    </ul>
</div>

<div class="pages">
    @if (Model.PageCount > 1)
    {
        for (int step = 1; step <= Model.PageCount; step = step + Model.PageStep)
        {
            if (Model.PageIndex >= step && Model.PageIndex < step + Model.PageStep)
            {
                //上一页
                if (Model.PageIndex > 1)
                {
        <a href="/@Model.Category.Id/@(Model.PageIndex - 1)">上一页</a>
                }
                //首页
                if (Model.PageStep < Model.PageIndex)
                {
        <a href="/@Model.Category.Id/">1</a>
        <a>...</a>
                }
                //分页
                for (int i = step; i < step + Model.PageStep; i++)
                {
                    if (i <= Model.PageCount)
                    {
                        if (i == Model.PageIndex)
                        {
        <a class="active">@i</a>
                        }
                        else
                        {
        <a href="/@Model.Category.Id/@i">@i</a>
                        }
                    }
                }
                //末页
                if (step + Model.PageStep <= Model.PageCount)
                {
        <a>...</a>
        <a href="/@Model.Category.Id/@Model.PageCount">@Model.PageCount</a>
                }
                //下一页
                if (Model.PageIndex < Model.PageCount)
                {
        <a href="/@Model.Category.Id/@(Model.PageIndex + 1)" class="next">下一页</a>
                }
            }
        }
    }
</div>
@Html.Action("FriendlyLink", "Home")