@model WitBird.Sex.Web.Models.ImageModel
@{
    ViewBag.Title = Model.Album.Title;
    ViewBag.Keywords = Model.Album.Keywords;
    ViewBag.Description = Model.Album.Description;
    ViewBag.MainTitle = Model.Album.Title + "，" + WitBird.Sex.Web.Cache.WebConfig.WebName;
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
@section head
{
    <style>
        .close-lg { font-size: 30px; }
        #popupdialog .media-heading a { width: 100%; }
    </style>
}

<!-- 面包屑 -->
<ol class="breadcrumb hidden-xs">
    <li>当前位置</li>
    <li><a href="/">首页</a></li>
    <li class="active">
        <a href="/@Model.Category.Id/">@Model.Category.Name</a>
    </li>
    <li><a href="javascript:void(0);">@Model.Album.Title</a></li>
</ol>

<div id="content" class="row">
    <div id="js-comments-selecter" class="col-md-9">
        <article class="post">
            <section class="sm-tit hidden-xs">
                <h1>@Model.Album.Title</h1>
                <i class="fa fa-clock-o"></i>&nbsp;@Model.Album.InsertTime.ToString("yyyy-MM-dd hh:mm:ss")&nbsp;&nbsp;
                <i class="fa fa-comment"></i>&nbsp;<a href="#ds-thread"><span class="ds-thread-count" data-thread-key="/show/@Model.Album.Id" data-count-type="comments"></span></a>&nbsp;&nbsp;
                <i class="fa fa-eye"></i>&nbsp;<span id="hits">@(Model.Album.ViewTime)次浏览</span>

                <i class="fa"></i>&nbsp;<span>支持 ← →键盘翻页</span>&nbsp;&nbsp;
                <i class="fa"></i>&nbsp;<a href="@Model.Image.UrlThumbnailHeight200" target="_blank" title="点击查看高清原图">查看原图</a>&nbsp;&nbsp;

                <i id="bdshare" class="bdshare_b" style="float:none;">
                    <img src="http://bdimg.share.baidu.com/static/images/type-button-1.jpg?cdnversion=@(DateTime.Now)" style="float:none;" />
                </i>
            </section>
            <section id="contes" class="contes carousel-inner">
                @{
                    var imgUrl = Model.Image.UrlOriginal;
                    if (Model.Page == Model.Images.Count)
                    {
                        <a href="javascript:showPopUpDialog();">
                            <img src="@Uitlity.WebHelper.GetImagePath(imgUrl)" class="img-responsive center-block img-thumbnail" alt="@Model.Album.Title">
                        </a>
                    }
                    else
                    {
                        var nextPageUrl = "/show/" + Model.Album.Id + "-" + (Model.Page + 1) + ".html";
                        <a href="@nextPageUrl" title="点击图片浏览下一页">
                            <img src="@Uitlity.WebHelper.GetImagePath(imgUrl)" class="img-responsive center-block img-thumbnail" alt="@Model.Album.Title">
                            @if (Model.Page < Model.Images.Count)
                            {
                                <input type="hidden" id="#nextImgUrl" value="@Model.Images[Model.Page].UrlOriginal">
                            }
                        </a>
                    }
                    <br>
                }
            </section>

            <section class="sm-tit hidden-sm hidden-md hidden-lg">
                <h3>@Model.Album.Title</h3>
                <i id="bdshare" class="bdshare_b" style="float:none;">
                    <img src="http://bdimg.share.baidu.com/static/images/type-button-1.jpg?cdnversion=@(DateTime.Now)" style="float:none;" />
                </i>
            </section>
            <section class="sm-tit hidden-xs">
                <p style="font-size: 15px;">@Model.Album.Description</p>
            </section>
            <div class="pages">
                @if (Model.LastAlbum != null)
                {
                    <a class="btn btn-default" href="/show/@(Model.LastAlbum.Id).html">上一图集</a>
                }
                @if (Model.Images.Count > 1)
                {
                    var pageStep = 10;
                    for (int step = 1; step <= Model.Images.Count; step = step + pageStep)
                    {
                        if (Model.Page >= step && Model.Page < step + pageStep)
                        {
                            //首页
                            if (pageStep < Model.Page)
                            {
                                var firstPageUrl = "/show/" + Model.Album.Id + ".html";
                                <a class="btn btn-default" href="@firstPageUrl">首页</a>
                            }
                            //上一页
                            if (Model.Page > 1)
                            {
                                var prePageUrl = "/show/" + Model.Album.Id + "-" + (Model.Page - 1) + ".html";
                                <a id="prePage" class="btn btn-default" href="@prePageUrl">上一页</a>
                            }
                            else
                            {
                                <a id="prePage" class="btn btn-default" href="javascript:showPopUpDialog();">上一页</a>
                            }
                            //分页
                            for (int i = step; i < step + pageStep; i++)
                            {
                                if (i <= Model.Images.Count)
                                {
                                    if (i == Model.Page)
                                    {
                                        <span class="btn btn-danger">@i</span>
                                    }
                                    else
                                    {
                                        var pageUrl = "/show/" + Model.Album.Id + "-" + i + ".html"; ;
                                        <a href="@pageUrl" class="btn btn-default">@i</a>
                                    }
                                }
                            }
                            //下一页
                            if (Model.Page < Model.Images.Count)
                            {
                                var nextPageUrl = "/show/" + Model.Album.Id + "-" + (Model.Page + 1) + ".html";
                                <a id="nextPage" class="btn btn-default" href="@nextPageUrl">下一页</a>
                            }
                            else
                            {
                                <a id="nextPage" class="btn btn-default" href="javascript:showPopUpDialog();">下一页</a>
                            }
                            //末页
                            if (step + pageStep <= Model.Images.Count)
                            {
                                var lastPageUrl = "/show/" + Model.Album.Id + "-" + Model.Images.Count + ".html";
                                <a class="btn btn-default" href="@lastPageUrl">末页</a>
                            }
                        }
                    }
                }
                @if (Model.NextAlbum != null)
                {
                    <a class="btn btn-default" href="/show/@(Model.NextAlbum.Id).html">下一图集</a>
                }

            </div>

        </article>
        <!-- 评论 -->
    </div>

    <div class="col-md-3">
        <aside>
            @Html.Action("HotKeywords", "News")
            @if (Model.RecommendAlbum != null && Model.RecommendAlbum.Count > 0)
            {
                <div class="panel panel-default  hidden-xs">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp; 推荐图集</h3>
                    </div>
                    <div class="panel-body">
                        @foreach (var item in Model.RecommendAlbum)
                        {
                            string url = "/show/" + item.Id + ".html";
                            <div class="media md-jj">
                                <div class="media-left media-middle">
                                    <a href="@url">
                                        <img class="media-object" src="@Uitlity.WebHelper.GetImagePath(item.UrlThumbnailWidth102x102)" alt="@item.Title">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="@url" title="@item.Title">@item.Title</a>
                                    </h4>
                                    <p>
                                        分类：<a href="/@item.CategoryId/" title="@Uitlity.WebHelper.GetCatogoryNameById(item.CategoryId)">
                                            @Uitlity.WebHelper.GetCatogoryNameById(item.CategoryId)
                                        </a>
                                    </p>
                                    <p>
                                        <span><i class="fa fa-clock-o"></i>&nbsp;@item.InsertTime.ToString("yyyy-MM-dd")</span>&nbsp;&nbsp;
                                        <span><i class="fa fa-eye"></i>&nbsp;@item.ViewTime</span>
                                    </p>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            }
            @if (Model.RelatedAlbum != null && Model.RelatedAlbum.Count > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-thumbs-o-up"></i>&nbsp; 猜你喜欢</h3>
                    </div>
                    <div class="panel-body">
                        @foreach (var item in Model.RelatedAlbum)
                        {
                            string url = "/show/" + item.Id + ".html";
                            <div class="media md-jj">
                                <div class="media-left media-middle">
                                    <a href="@url">
                                        <img class="media-object" src="@Uitlity.WebHelper.GetImagePath(item.UrlThumbnailWidth102x102)" alt="@item.Title">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="@url" title="@item.Title">@item.Title</a>
                                    </h4>
                                    <p>
                                        分类：<a href="/@item.CategoryId/" title="@Uitlity.WebHelper.GetCatogoryNameById(item.CategoryId)">
                                            @Uitlity.WebHelper.GetCatogoryNameById(item.CategoryId)
                                        </a>
                                    </p>
                                    <p>
                                        <span><i class="fa fa-clock-o"></i>&nbsp;@item.InsertTime.ToString("yyyy-MM-dd")</span>
                                        &nbsp;&nbsp;
                                        <span><i class="fa fa-eye"></i>&nbsp;@item.ViewTime</span>
                                    </p>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            }
            @if (Model.RelatedNews != null && Model.RelatedNews.Count > 0)
            {
                <div class="panel panel-default hidden-xs">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-thumbs-o-up"></i>&nbsp; 相关资讯</h3>
                    </div>
                    <div class="panel-body">
                        @foreach (var item in Model.RelatedNews)
                        {
                            string url = "/news/" + item.Id + ".html";
                            <div class="media md-jj">
                                <div class="media-left media-middle">
                                    <a href="@url">
                                        <img class="media-object" src="@Uitlity.WebHelper.GetImagePath(item.Cover)" alt="@item.Title">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="@url" title="@item.Title">@item.Title</a>
                                    </h4>
                                    <p>
                                        分类：<a href="/news/" title="最新资讯">
                                            最新资讯
                                        </a>
                                    </p>
                                    <p>
                                        <span><i class="fa fa-clock-o"></i>&nbsp;@item.InsertTime.ToString("yyyy-MM-dd")</span>&nbsp;&nbsp;
                                        <span><i class="fa fa-eye"></i>&nbsp;@item.ViewCount</span>
                                    </p>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            }
        </aside>
    </div>
</div>
<div>

</div>
<!-- 第一页和最后一页加载弹出窗内容 -->
@if (Model.Page == 1 || Model.Page == Model.Images.Count)
{
    <div class="modal fade" id="popupdialog" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-lg"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <a href="/show/@(Model.Album.Id).html" title="重新浏览当前图集"><i class="glyphicon glyphicon-repeat"></i>&nbsp;重新浏览</a>
                        @if (Model.LastAlbum != null)
                        {
                            @(new HtmlString("&nbsp;&nbsp;"))
                            <a href="/show/@(Model.LastAlbum.Id).html" title="继续浏览上一图集"><i class="glyphicon glyphicon-fast-backward"></i>&nbsp;上一图集</a>
                        }
                        @if (Model.NextAlbum != null)
                        {
                            @(new HtmlString("&nbsp;&nbsp;"))
                            <a href="/show/@(Model.NextAlbum.Id).html" title="继续浏览下一图集"><i class="glyphicon glyphicon-fast-forward"></i>&nbsp;下一图集</a>
                        }
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="js-tabs-selector nav nav-tabs">
                        <li class="active"><a href="#recommend">推荐图集</a></li>
                        @if (Model.RelatedAlbum != null && Model.RelatedAlbum.Count > 0)
                        {
                            <li class=""><a href="#like">猜你喜欢</a></li>
                        }
                        @if (Model.RelatedNews != null && Model.RelatedNews.Count > 0)
                        {
                            <li class=""><a href="#relatedNews">相关资讯</a></li>
                        }
                    </ul>

                    <div class="tab-content">
                        @if (Model.RecommendAlbum != null && Model.RecommendAlbum.Count > 0)
                        {
                            <div class="tab-pane active" id="recommend">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var item in Model.RecommendAlbum)
                                        {
                                            string url = "/show/" + item.Id + ".html";
                                            <div class="media md-jj">
                                                <div class="media-left media-middle">
                                                    <a href="@url">
                                                        <img class="media-object" src="@Uitlity.WebHelper.GetImagePath(item.UrlThumbnailWidth102x102)"
                                                             alt="@item.Title">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="@url" title="@item.Title">@item.Title</a>
                                                    </h4>
                                                    <p>
                                                        分类：<a href="/@item.CategoryId/" title="@Uitlity.WebHelper.GetCatogoryNameById(item.CategoryId)">
                                                            @Uitlity.WebHelper.GetCatogoryNameById(item.CategoryId)
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <span><i class="fa fa-clock-o"></i>&nbsp;@item.InsertTime.ToString("yyyy-MM-dd")</span>&nbsp;&nbsp;
                                                        <span><i class="fa fa-eye"></i>&nbsp;@item.ViewTime</span>
                                                    </p>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.RelatedAlbum != null && Model.RelatedAlbum.Count > 0)
                        {
                            <div class="tab-pane" id="like">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var item in Model.RelatedAlbum)
                                        {
                                            string url = "/show/" + item.Id + ".html";
                                            <div class="media md-jj">
                                                <div class="media-left media-middle">
                                                    <a href="@url">
                                                        <img class="media-object" src="@Uitlity.WebHelper.GetImagePath(item.UrlThumbnailWidth102x102)"
                                                             alt="@item.Title">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="@url" title="@item.Title">@item.Title</a>
                                                    </h4>
                                                    <p>
                                                        分类：<a href="/@item.CategoryId/" title="@Uitlity.WebHelper.GetCatogoryNameById(item.CategoryId)">
                                                            @Uitlity.WebHelper.GetCatogoryNameById(item.CategoryId)
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <span><i class="fa fa-clock-o"></i>&nbsp;@item.InsertTime.ToString("yyyy-MM-dd")</span>
                                                        &nbsp;&nbsp;
                                                        <span><i class="fa fa-eye"></i>&nbsp;@item.ViewTime</span>
                                                    </p>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.RelatedNews != null && Model.RelatedNews.Count > 0)
                        {
                            <div class="tab-pane" id="relatedNews">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var item in Model.RelatedNews)
                                        {
                                            string url = "/news/" + item.Id + ".html";
                                            <div class="media md-jj">
                                                <div class="media-left media-middle">
                                                    <a href="@url">
                                                        <img class="media-object" src="@Uitlity.WebHelper.GetImagePath(item.Cover)" alt="@item.Title">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="@url" title="@item.Title">@item.Title</a>
                                                    </h4>
                                                    <p>
                                                        分类：<a href="/news/" title="最新资讯">
                                                            最新资讯
                                                        </a>
                                                    </p>
                                                    <p>
                                                        <span><i class="fa fa-clock-o"></i>&nbsp;@item.InsertTime.ToString("yyyy-MM-dd")</span>&nbsp;&nbsp;
                                                        <span><i class="fa fa-eye"></i>&nbsp;@item.ViewCount</span>
                                                    </p>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
}
@section foot{
    <script type="text/javascript" id="bdshare_js" data="type=button&uid=0"></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000);
    </script>
    <script>
        mobile = (/mmp|symbian|smartphone|midp|wap|phone|xoom|iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
        if (mobile) {
            //$("html,body").animate({ scrollTop: $("#content").offset().top }, 1);
        }

        if ($("#nextImgUrl").size() > 0) {
            var nextImg = $("<img src='"+ $("#nextImgUrl").val() + "'>")
            nextImg.Load();
        }
        $(document).keyup(function (e) {
            var currKey = 0, e = e || event;
            currKey = e.keyCode || e.which || e.charCode;
            switch (currKey) {
                case 37: // left
                    if ($('#prePage').size() > 0) {
                        window.location = $('#prePage').attr('href');
                    }
                    break;
                case 39: // up
                    if ($('#nextPage').size() > 0) {
                        window.location = $('#nextPage').attr('href');
                    }
                    break;
            }
        });
        function showPopUpDialog() {
            $("#popupdialog").modal({
                keyboard: true
            });
        }
        $('.js-tabs-selector a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        })
    </script>
    <script>var duoshuoQuery = { short_name: "xgdg" };</script>
    <script src="http://static.duoshuo.com/embed.js"></script>
    <script>
        var el = document.createElement('div');
        el.setAttribute('data-thread-key', '/show/@Model.Album.Id');
        el.setAttribute('data-url', 'http://www.xgdg.cn/show/@(Model.Album.Id).html');
        DUOSHUO.EmbedThread(el);
        document.getElementById('js-comments-selecter').appendChild(el);
    </script>
}
